* {
    box-sizing: border-box;
}
html {
    font-size: 125%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: #252525;
    font-family: "Mada", sans-serif;
    overflow-x: hidden;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

h1 span.title {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button{
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type=checkbox]
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0);
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    min-width: 100%;
}

section {
    margin: 0;
    padding: 50px 0;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.skills-tools .wrapper h4 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.container-outer {
    width: 100%;
    position: relative;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-img-profile {
    border-radius: 50%;
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
}

.container-txt-link {
    display: inline-block;
}

a,
.btn {
    color: #252525;
    text-decoration: none;
    letter-spacing: .01rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    font-family: "Crimson Text", serif;
}

a.u-line::after,
.btn.u-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #394ff4;
}

a:hover,
.btn:hover {
    background-color: #394ff4;
    color: #fff;
}

p a {
    color: #394ff4;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Mada", sans-serif;
    padding: 0 2px;
    transition: background-color .2s, color .2s;
}

p a::after {
    content: none;
}

.btn {
    margin-bottom: 7px;
    background-color: #a1eacd;
    position: relative;
    display: inline-block;
    padding: .5rem 1.5rem 1rem;
    border: none;
    margin-right: 5px;
    transition: all 300ms ease-out;
}

.btn:hover {
    background-color: #f48480;
    padding: .5rem 1.8rem 1rem;
}

.btn:hover span {
    right: .8rem;
}

.btn span {
    top: 8px;
    position: relative;
    right: 0;
    transition: all 300ms ease-out;
}

.btn i {
    width: 1.8rem;
    opacity: 0;
    position: absolute;
    top: 28%;
    right: 20px;
    transition: all 300ms ease-out;
    will-change: right, opacity;
}

.btn:hover i {
    opacity: 1;
    right: 0;
}

h2 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 0.75rem;
    color: #f0535d;
    letter-spacing: 0.06rem;
}

h2.light {
    color: white;
}

h3 {
    font-family: "Crimson Text", serif;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #1c2273;
}

h4 {
    font-family: "Crimson Text", serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    color: #eeb4aa;
    max-width: 600px;
    letter-spacing: 0.02rem;
    margin: 1rem 0 -0.5rem;
}

.container-text h4:hover {
    text-decoration: underline;
}

.about h4,
.skills-tools h4 {
    color: #7689d8;
}

p {
    line-height: 1.55;
    font-size: 1rem;
}

.bold {
    font-weight: 500;
}

nav label {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    z-index: 999;
}

nav label:hover {
    cursor: pointer;
}

nav label span {
    position: absolute;
    top: 19px;
    right: 4px;
    width: 40px;
    height: 5px;
    border-radius: 4px;
    display: block;
    background-color: #fff;
    transition: 0.5s;
}

nav label span:first-child {
    top: 7px;
}

nav label span:last-child {
    top: 30px;
}

nav input {
    opacity: 0;
}

nav input:checked+label span {
    opacity: 0;
    top: 50%;
}

nav input:checked+label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}

nav input:checked+label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}
nav ul {
    background-color: #5F939A;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    padding-right: 5%;
}

nav ul li {
    position: relative;
    transform: translateY(-285px);
    transition: transform 0.5s ease-in-out;
}
nav ul li:after {
    content: '';
    width: 72%;
    height: 4px;
    background-color: #f48480;
    transform-origin: center;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 14%;
    transition: transform 0.3s ease-in-out;
}

nav ul li:hover:after {
    transform: scaleX(1);
}

nav ul a {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    display: inline-block;
    padding: 15px 26px 10px;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: transparent;
}

nav input:checked~ul {
    background-color: #5F939A;
    height: 100%;
    padding: 80px 0 20px;
}

nav input:checked~ul li {
    opacity: 1;
    transform: translateY(0);
}

.angle {
    position: relative;
}

.angle:after {
    content: '';
    position: absolute;
}

.angle1,
.angle1:after {
    height: 80px;
    width: 100%;
}

.angle1 {
    background-color: #f6e6e0;
}

.angle1:after {
    background-color: #F69E7B;
    clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.angle2,
.angle2:after {
    height: 35px;
    width: 100%;
}

.angle2 {
    background-color: #eeb4aa;
}

.angle2:after {
    background-color: #f6e6e0;
    -webkit-clip-path: polygon(0 0, 100% 0, 25% 100%);
    clip-path: polygon(0 0, 100% 0, 25% 100%);
}

.angle3,
.angle3:after {
    height: 40px;
    width: 100%;
}

.angle3 {
    background-color: #7689d8;
}

.angle3:after {
    background-color: #eeb4aa;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.angle4,
.angle4:after {
    height: 50px;
    width: 100%;
}

.angle4 {
    background-color: #FDFFAB;
}

.angle4:after {
    background-color: #7689d8;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
}

.angle5,
.angle5:after {
    height: 40px;
    width: 100%;
}

.angle5 {
    background-color: #E1AFD1;
}

.angle5:after {
    background-color: #FDFFAB;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 0);
}

header {
    background-color: #F69E7B;
    margin: 0;
    padding: 100px 0 113px;
}

h1 {
    font-family: "Mada", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.05rem;
    font-weight: 500;
    max-width: 860px;
    font-size: 1.15rem;
    display: block;
    padding-top: 75px;
    margin: 0;
}

h1 span:first-child {
    display: inline-block;
    width: 100%;
    font-weight: 700;
}

.container-flip {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 37px;
}

.container-flip span {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: rotate-word 20s linear infinite;
    animation: rotate-word 20s linear infinite;
}

.container-flip span:nth-child(2) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.container-flip span:nth-child(3) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.container-flip span:nth-child(4) {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s;
}

.container-flip span:nth-child(5) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

@-webkit-keyframes rotate-word {
    0% {
        opacity: 0;
    }

    1% {
        transform: translateY(-20px);
    }

    4% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        transform: translateY(0px);
    }

    17% {
        opacity: 1;
        transform: translateY(0px);
    }

    19% {
        opacity: 0;
    }

    20% {
        transform: translateY(20px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.flip {
    width: 100%;
}

.flip::after {
    content: '';
    display: inline-block;
    transform: translateX(5px);
    background-size: cover;
    width: 20px;
    height: 20px;
}

section.about {
    background-color: #f6e6e0;
    padding-bottom: 100px;
}

section.about .container-img-profile {
    max-width: 300px;
}

section.work {
    background-color: #7689d8;
    padding-top: 80px;
    padding-bottom: 1px;
}

section.work .container-img {
    display: flex;
    justify-content: center;
}

section.work .container-text .container-work-btns {
    text-align: justify;
    margin-bottom: 1.5rem;
}

section.work .container-work {
    margin-bottom: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.work .container-work .container-text h4{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section.work .container-icons-mini {
    color: #fff;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section.work .container-icons-mini .box-icon {
    margin-right: 8px;
    position: relative;
}

section.skills-tools {
    background-color: #eeb4aa;
    padding-top: 80px;
}

section.skills-tools p:first-of-type {
    margin-bottom: 50px;
}

.container-icons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.container-icons .devicon,
.container-icons .fab,
.container-icons .fas {
    color: #fff;
    font-size: 3.5rem;
}

.container-icons .box-icon {
    width: 50%;
    height: 142px;
    margin-bottom: 10px;
}

.container-icons .box-icon p {
    color: #656565;
    transition: background-color .2s, color .2s;
}

.container-icons .box-icon p:hover{
    background-color: #394ff4;
    color: #fff;
}

.container-icons .box-icon .fa-js {
    height: 72px;
}

.container-icons .container-img-i {
    display: block;
    width: 50%;
    height: 3.5rem;
    margin: 0 auto;
}

section.contact {
    background-color: #E1AFD1;
}

.container-social {
    margin: 0 auto;
    padding: 28px 0 0 0;
}

.container-social-i {
    max-width: 500px;
}

.container-social-i ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.container-social-i ul a {
    color: #394ff4;
    transition: color .2s ease-in-out;
}

.container-social-i ul a:hover {
    color: #f0535d;
    background-color: transparent;
}

.container-social-i ul li {
    width: 22px;
    height: 22px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.container-social-i ul li:hover {
    transform: scale(1.4);
}

.container-social-i ul svg {
    width: 20px;
    height: 20px;
    fill: #394ff4;
}

.container-social-i ul svg:hover {
    fill: #f0535d;
}

footer {
    background-color: #f0535d;
    padding: 25px 0 20px;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 1.0rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.02rem;
}

@media (min-width: 394px) {
    h1 {
        font-size: 1.4rem;
    }
    .flip::after {
        width: 28px;
        height: 28px;
    }
    section.about .container-text {
        text-align: justify;
    }
}

@media (min-width: 520px) {
    h1 {
        font-size: 1.85rem;
    }
    .angle1,
    .angle1:after {
        height: 120px;
    }
    .container-flip {
        height: 43px;
    }
    section.about .container-text {
        text-align: justify;
    }
}

@media (min-width: 600px) {
    header {
        padding-top: 120px;
        padding-bottom: 100px;
    }
    .container-icons .box-icon {
        width: 25%;
    }
    .angle2,
    .angle2:after {
        height: 55px;
    }
    .angle4,
    .angle4:after {
        height: 75px;
    }
    section.about .container-text {
        text-align: justify;
    }
}

@media (min-width: 675px) {
    h1 {
        font-size: 2.1rem;
    }
    .container-flip {
        width: 80%;
        top: 7px;
        height: 49px;
    }
    .flip::after {
        width: 34px;
        height: 34px;
    }
    section.about .container-text {
        text-align: justify;
    }

}

@media (min-width: 700px) {
    section.about .container-img-profile {
        width: 30%;
        margin-top: 20px;
    }
    section.about .container-text {
        text-align: justify;
        width: 70%;
        padding-left: 5%;
    }
    section.about .container-content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
    }
    section.work .container-text {
        text-align: justify;
        width: 45%;
        padding-left: 20px;
    }
    section.work .container-work {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 5%;
    }

    section.work .container-work:nth-child(odd) .container-text {
        order: -1;
        padding-left: 0;
    }

}

@media (min-width: 800px) {
    section.contact .container-social {
        width: 62%;
    }
    
    section.contact .container-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media (min-width: 859px) {
    h1 {
        padding-top: 100px;
        font-size: 2.3rem;
    }
    .container-flip {
        top: 10px;
        height: 53px;
    }
    .flip::after {
        width: 37px;
        height: 37px;
    }
}

@media (min-width: 900px) {
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 2.1rem;
    }
    h4 {
        font-size: 1.50rem;
    }
    .angle1,
    .angle1:after {
        height: 160px;
    }
    .angle2,
    .angle2:after {
        height: 75px;
    }
    .angle3,
    .angle3:after {
        height: 80px;
    }
    .angle4,
    .angle4:after {
        height: 105px;
    }
    .angle5,
    .angle5:after {
        height: 65px;
    }

}

@media (min-width: 936px) {
    h1 {
        font-size: 2.6rem;
    }
    .container-flip {
        height: 60px;
    }
    .flip::after {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 992px) {
    nav label {
        display: none;
    }
    nav input {
        display: none;
    }
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }
    nav ul li {
        transform: translateY(0);
    }
    nav ul a {
        font-size: 1.2rem;
    }
}

@media (min-width: 1006px) {
    section.contact .container-social {
        width: 49%;
    }
}

@media (min-width: 1100px) {
    h1 {
        padding-top: 120px;
        font-size: 3rem;
        max-width: 890px;
    }
    .container-flip {
        height: 68px;
    }
    .flip::after {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 1024px) {
    .container-icons .box-icon {
        width: 12.5%;
    }
}
